body {
  margin: 0;
  height:100%;
  width:100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#root {
  background-color: blue;
  height:100%;
}

/* .luther {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #F7F7F7;
  border-radius: 25px;
  } */