body {
  margin: 0;
  height:100%;
  width:100%;
}

.main {
 width:100%
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#root {
  height:100%;
}



.grey_block {
  background: #F7F7F7;
  border-radius: 25px;
  margin: 2% 5%;
  padding: 3%;
  padding: ;
  height: 500px;
}